body, html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777;
	font-weight: 400;
	width: 100% !important;
    height: 100% !important;
}

/* Navigation Bar */
.topnav {
    background-color: #fff;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #707070;
    color: whitesmoke
}

/* Header Sectionn */
.intro {
	display: table;
	width: 100%;
	padding: 0;
	background: url(img/background.jpg) center center no-repeat;
	background-color: #e5e5e5;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;	
}
.intro .overlay {
	background: rgba(0,0,0,0.1);
}
.intro h1 {
	font-family: 'Raleway', sans-serif;
	color: #fff;
	font-size: 82px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 10px;
}
.intro h1 span {
	font-weight: 800;
	color: #5ca9fb;
}
.intro p {
	color: #fff;
	font-size: 22px;
	font-weight: 300;
	line-height: 30px;
	margin: 0 auto;
	margin-bottom: 60px;
}
header .intro-text {
	padding-top: 350px;
	padding-bottom: 200px;
	text-align: center;
}

.My-magical-list {
    font-size: 1rem;
    text-transform: uppercase;
}

/* About Section */
#about {
    padding: 100px 0;
}

#about img {
    width: 350px;
	margin-top: 10px;
    background: #fff;
    border-right: 0;
} 
#about {
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

#about h2::after {
	position: absolute;
	content: "";
	background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
	height: 4px;
	width: 60px;
	bottom: 0;
	left: 0;
}

#about .about-text {
	margin-bottom: 6px;
	margin-left: 6px;
	list-style: none;
	padding: 0;
}

#about p {
    line-height: 24px;
    margin: 30px 0;
}

/*
.col-xs-12 {
    width: 100%;
    float: left;
  }

.col-md-6 {
    float: left;
    width: 50%;
} 
*/

/* Footer Section */
#footer {
	background: #f6f6f6;
	padding: 30px 0;
    text-align: center;
}

#footer p {
	color: #888;
	font-size: 14px;
}

